.borderGeneratorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.propertiesContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-between;
}

.viewPripertiesContainer {
    width: 50%;
}

#colorSelectTop,
#colorSelectLeft,
#colorSelectBottom,
#colorSelectRight {
    width: 30px;
    height: 30px;
    background-color: transparent;
    padding: 0;

}

.viewProperties {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--three-color);
    width: 280px;
    padding: 20px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.borderStyleContainer select {
    border: 1px solid var(--five-color);
    width: 70px;
    height: 30px;
    margin: 0 0 10px 0;
}

.borderStyleContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    background-color: var(--three-color);
    align-items: center;
    width: 280px;
    height: 124px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.borderRange {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

.rotateLeft {
    transform: rotate(90deg);
}

.rotateBottom {
    transform: rotate(180deg);
}

.rotateRight {
    transform: rotate(270deg);
}



#borderTopValue,
#borderLeftValue,
#borderBottomValue,
#borderRightValue,
#borderRadiusTopValue,
#borderRadiusLeftValue,
#borderRadiusBottomValue,
#borderRadiusRightValue {
    color: var(--five-color);
    width: 15.97px;
    user-select: none;
}

.borderTopContainer,
.borderLeftContainer,
.borderBottomContainer,
.borderRightContainer {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 5px;
    flex-wrap: wrap;
    background-color: var(--three-color);
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.borderTopContainer span,
.borderLeftContainer span,
.borderBottomContainer span,
.borderRightContainer span,
.borderStyleContainer span {
    color: var(--four-color);
    font-size: 1em;
    user-select: none;
}

.circleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--four-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    user-select: none;
}

.viewPripertiesContainer button {
    background-color: var(--four-color);
    width: 40%;
    height: 40%;
    border: none;
}

.viewPropertiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.blockContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50px;
    background-color: var(--four-color);
    user-select: none;
}

#borderTop,
#borderLeft,
#borderBottom,
#borderRight,
#borderRadiusTop,
#borderRadiusLeft,
#borderRadiusBottom,
#borderRadiusRight {
    outline: none;
    width: 230px;
    height: 20px;
    font-size: 1em;
    padding: 5px;
}

#borderTop,
#borderLeft,
#borderBottom,
#borderRight,
#borderRadiusTop,
#borderRadiusLeft,
#borderRadiusBottom,
#borderRadiusRight {
    width: 200px;
    height: 15px;
    background-color: var(--three-color);
    -webkit-appearance: none;
    border-radius: 50px;
    box-shadow: rgb(0, 166, 252555) 1px 3px 8px -6px, rgba(220, 220, 220, 0.1) 0px 3px 3px -3px;
    overflow: hidden;
}

#borderTop::-webkit-slider-thumb,
#borderLeft::-webkit-slider-thumb,
#borderBottom::-webkit-slider-thumb,
#borderRight::-webkit-slider-thumb,
#borderRadiusTop::-webkit-slider-thumb,
#borderRadiusLeft::-webkit-slider-thumb,
#borderRadiusBottom::-webkit-slider-thumb,
#borderRadiusRight::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: linear-gradient(130deg, #ffffff, #bbbbbb);
    border: 0.5px solid #E3E3E3;
    cursor: pointer;
    box-shadow: -407px 0 0 400px var(--five-color);

}

.textArea {
    border: 1px solid var(--five-color);
    width: 100%;
    height: auto;
    resize: none;
    outline: none;
    padding: 5px;
    color: var(--five-color);
    user-select: none;
    border-radius: 5px;
}

.buttonCopyCss {
    background-color: var(--five-color);
    color: var(--three-color);
    width: 80%;
    height: 30px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

.buttonCopyCss:hover {
    background-color: var(--six-color);
}

@media screen and (max-width: 650px) {
    .propertiesContainer {
        justify-content: center;
    }
}