#flexboxContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#spanTitleContainer,
#spanTitleContent {
    color: var(--three-color);
}

#flexboxPropertiesEdit {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 10px;
}

#itensContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    color: var(--four-color);
}

.flexItemText {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flexItemText[data-tooltip] {
    position: relative;
    z-index: 11;
    cursor: pointer;
}

.flexItemText[data-tooltip]:before {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

.flexItemText[data-tooltip]:before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

.flexItemText[data-tooltip]:hover:before,
.flexItemText[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#flexboxPropertiesEdit input {
    padding: 5px;
    outline: none;
    border: none;
}

#flexboxPropertiesEdit select {
    outline: none;
    border: none;
    height: 20px;
    background-color: var(--four-color);
    color: var(--three-color);
}

#flexboxPropertiesEdit select:hover{
    animation: 1s colorHover linear;
}

@keyframes colorHover{
    0%{
        color: var(--three-color);
    }
    10%{
        color: var(--five-color);
    }
    80%{
        color: var(--five-color);
    }
    100%{
        color: var(--three-color);
    }
}

#blockChange{
    color: var(--three-color);
}

#flexDirectionContainer,
#flexWrapContainer,
#flexFlowContainer,
#justifyContentContainer,
#alignItemsContainer,
#alignContentContainer,
#gapContainer,
#orderContainer,
#flexGrowContainer,
#flexShrinkContainer,
#flexBasisContainer,
/* #flexContainer, */
#alignSelfContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    padding: 10px;
    background-color: var(--three-color);
    border-radius: 5px;
    gap: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--four-color);
}

.boxContainer,
.items {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#flexboxViewContainer {
    display: flex;
    width: 100%;
    height: 250px;
    padding: 10px;
    background: var(--three-color);
    border-radius: 5px;
}

#controllerBox {
    display: flex;
    gap: 10px;
}

#copyButton,
#setContent {
    background-color: var(--five-color);
    color: var(--four-color);
    border: none;
    font-weight: 600;
    width: 140px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: 200ms;
}

#addDivBlock {
    width: 200px;
    height: 15px;
    background-color: var(--three-color);
    appearance: none;
    border-radius: 50px;
    box-shadow: rgb(0, 166, 252555) 3px 6px 8px -6px, rgba(220, 220, 220, 0.1) 0px 3px 3px -3px;
    overflow: hidden;
}

#addDivBlock::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: linear-gradient(130deg, #ffffff, #bbbbbb);
    border: 0.5px solid #E3E3E3;
    cursor: pointer;
    box-shadow: -407px 0 0 400px var(--five-color);
}


#codeBox {
    border: 1px solid var(--five-color);
    width: 280px;
    min-height: 40px;
    height: auto;
    color: var(--five-color);
}

#copyButton:hover,
#setContent:hover {
    background-color: var(--six-color);
}

#divBlockOne,
#divBlockTwo,
#divBlockThree,
#divBlockFour,
#divBlockFive {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 200ms;
}

#divBlockOne:hover,
#divBlockTwo:hover,
#divBlockThree:hover,
#divBlockFour:hover,
#divBlockFive:hover {
    opacity: 0.7;
}

#question {
    font-size: 1rem;
}

#divBlockOne {
    background-color: var(--five-color);
}

#divBlockTwo {
    background-color: var(--four-color);
    display: none;
}

#divBlockThree {
    background-color: rgb(0, 24, 36);
    display: none;
}

#divBlockFour {
    background-color: rgb(0, 79, 116);
    display: none;
}

#divBlockFive {
    background-color: rgb(140, 219, 255);
    display: none;
}



@media screen and (max-width: 350px) {
    #flexboxPropertiesEdit {
        flex-direction: column;
    }

}