@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600&family=Roboto:wght@300;400;500;700&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
:root {
    --one-color: #F7F7F7;
    --two-color: #FFFFFF;
    --three-color: #252525;
    --four-color: #f3f3f3;
    --five-color: #12508A;
    --six-color: #366C9F;
    --font-roboto: 'Roboto';
    --font-teko: 'Teko';

    /* --one-color: #020011;
    --two-color: #04001A;
    --three-color: #0e0e0e;
    --four-color: #f7f7f7;
    --five-color: #00a6ff;
    --six-color: #47bfff;
    --font-roboto: 'Roboto';
    --font-teko: 'Teko'; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--font-roboto);
}

body {
    background: linear-gradient(90deg, var(--one-color)60%, var(--two-color));
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--three-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--five-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-corner {
    background-color: var(--three-color);
}