#page{
    width: 90%;
    margin: 0 auto;
}
main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.formsContainer{
    position: relative;
    width: 280px;
    height: 544px;
    min-height: 400px;
    user-select: none;
}

#formLogin, #formCreateAccount, #formAlterData{
    display: flex;
    background-color: var(--three-color);
    color: var(--four-color);
    width: 280px;
    height: auto;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
    border-radius: 5px;
    position: absolute;
}

#formLogin{
    transform: rotateY(180deg);
}

#formCreateAccount{
    backface-visibility: hidden;
}

.loginflip #formLogin{
    transform: rotateY(360deg);
}

.loginflip #formCreateAccount{
    transform: rotateY(180deg);
}



.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--four-color);
}

.inputContainer input{
    background-color: var(--four-color);
    border: none;
    width: 250px;
    height: 25px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.title{
    align-self: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
}

#loginBtn, #createAccountBtn, #saveDataBtn{
    background-color: var(--five-color);
    color: var(--four-color);
    border: none;
    width: 250px;
    height: 25px;
    cursor: pointer;
    transition: 200ms;
    border-radius: 5px;
}

#loginBtn:hover, #createAccountBtn:hover, #saveDataBtn:hover{
    background-color: var(--six-color);
}
#noAccount, #login{
    margin-bottom: 20px;
}

#noAccount:hover, #login:hover{
    text-decoration: underline;
    cursor: pointer;
}

#show{
    cursor: pointer;
    transition: 200ms;
}

#show:hover{
    color: var(--five-color);
}

.passwordContainer{
    display: none;
    flex-direction: column;
    gap: 30px;
}

.toggle{
    display: flex;
}

#loginMsg{
    display: flex;
    align-items: center;
    background-color: rgb(255, 0, 0, 0.3);
    border-radius: 5px;
    color: rgb(195, 24, 24);
    padding: 10px;
    height: 30px;
    margin-bottom: 10px;
}