.page{
    margin: 0px  auto 0px auto;
    width: 90%;
}

.navBarContainer{
    width: 100%;
    height: 50px;
    display: flex;
    margin: 0px  auto 0px auto;
    align-items: center;
    justify-content: space-between;
}

.logoLink{
    font-family: var(--font-teko);
    font-size: 1.5em;
    color: var(--five-color);
}

.linkContainer{
    display: flex;
    gap: 15px;
}

.linkContainer a{
    font-size: 1.2em;
    color: var(--four-color);
    cursor: pointer;
    font-family: var(--font-roboto);
}

@media screen and (max-width: 350px){
    .linkContainer{
        display: none;
    }
}